/*
font-family: 'Press Start 2P', cursive;
*/
body{
    background: #B6B6B6;
    padding: 32px;
}
.urna{
    /*Principal*/
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
}
.urna__tela{
    /*Tela da urna*/
    grid-column: 1/1;
    align-self: center;
    width: 100%;
    height: 500px;
    background: #E6E8E7;
    border: 1px solid black;
}
.urna__teclado{
    /*Área do teclado*/
    grid-column: 2/2;
    align-self: center;
    justify-self: end;
}
.teclado__logo{
    /*Parte branca do logo*/
    box-sizing: border-box;
    background: #ffffff;
    width: 418px;
    height: 135px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.logo__foto{
    width: 100px;
}
.logo__texto{
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    font-size: 1.4rem;
}
.teclado__console{
    box-sizing: border-box;
    padding: 10px;
    background: #23262D;
    height: 456px;
    width: 418px;
    border-radius: 8px 8px 15px 15px;
    border-bottom: 6px solid #494e58;
}
.console__btn__num{
    /*Estrutura para os botões numéricos*/
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 80px 80px 80px 80px;
}
.btn__num{
    /*Botões numéricos*/
    width: 84px;
    height: 50px;
    padding-left: 10px;
    place-self: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 0;
    border-bottom: 4px solid grey;
    background: #161920;
    color: #FFFFFF;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    text-align: left;
}
.btn__num:active{
    border-bottom: 0;
}
.btn__num:last-child{
    grid-column: 2/2;
}
.console__btn__acao{
    /*Estrutura para os botões de ação*/
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: auto;
    margin-top: 1rem;
}
.btn__acao{
    width: 113px;
    box-sizing: border-box;
    padding: 30px 0;
    border-radius: 8px 8px 15px 15px;
    border: 0;
    justify-self: center;
    align-self: end;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.btn__acao:nth-child(1){
    background: #fdfdfd;
    border-bottom: 8px solid grey;
}
.btn__acao:nth-child(1):active{
    border-bottom: 0;
    background: #d2d3d2;
}
.btn__acao:nth-child(2){
    background: #D16738;
    border-bottom: 8px solid #ca8364;
}
.btn__acao:nth-child(2):active{
    border-bottom: 0;
    background: #af4f25;
}
.btn__acao:nth-child(3){
    background: #549B4B;
    border-bottom: 8px solid #7db576;
}
.btn__acao:nth-child(3):active{
    border-bottom: 0;
    background: #417a39;
}