:root{
    font-size: 62.5%;

    --roboto: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, h1, h2, h3, button{
    font-family: 'Roboto', sans-serif;
    
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1;

}

body{
    height: 100vh;

    color: black;
}