.console{
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 41.8rem;

    .etiqueta{
        display: flex;
        align-items: center;

        padding: 1rem;

        background-color: $etiqueta;

        border-radius: .5rem;
        box-shadow: inset -4px -4px 4px #F5F5F5, inset 4px 4px 0px rgba(0, 0, 0, 0.25);

        span{
            font-size: 4.5rem;
            text-align: center;

            width: 70%;
        }
    }
    .teclado{
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: $teclado-base;

        border-radius: .5rem;

        padding: 4.3rem 1rem 2.8rem;

        gap: 1rem;

        .btn-numbers{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 2.5rem 2.8rem;

            width: 31.2rem;

            :last-child{
                grid-column: 2/2;
            }

            button{
                width: 8.4rem;
                height: 5rem;

                color: white;
                
                font-size: 3.5rem;
                text-align: left;
                
                padding-left: 1rem;
                
                background: linear-gradient(180deg, #282828, #202020);
                
                position: relative;
                
                border: none;
                border-radius: .6rem;
                box-shadow: inset -.8rem 0 .8rem rgba(0, 0, 0, 0.15), inset 0 -.8rem .8rem rgba(0, 0, 0, 0.25), 0 0 0 .2rem rgba(0, 0, 0, 0.75), 1rem 1.5rem 2rem rgba(0, 0, 0, 0.4);
                
                cursor: pointer;

                overflow: hidden;

                &::before{
                    content: "";

                    position: absolute;
                    top: .3rem;
                    left: .4rem;
                    bottom: .5rem;
                    right: .7rem;
                    
                    background: linear-gradient(90deg, #232323, #4a4a4a);

                    border-radius: .6rem;
                    border-left: .1rem solid #0004;
                    border-bottom: .1rem solid #0004;
                    border-top: .1rem solid #0009;
                    box-shadow: -1rem -1rem 1rem rgba(255, 255, 255, 0.25), 1rem .5rem 1rem rgba(0, 0, 0, 0.15);
                }
                span{
                    position: relative;
                }
                &:active{
                    transform: translateY(.5rem);
                    &::before{
                        content: "";
                        background: #232323;
                        box-shadow: none;
                    }
                }
            }
        }
        .btn-action{
            display: flex;
            justify-content: space-between;

            width: 100%;

            .white{
                background: linear-gradient(180deg, #ffffff, #838080);
                @include btn-action(#838080);

                &::before{
                    content: "";
                    
                    @include style-action(#939393, $btn-white, #a5a5a5a5);
                }
                &:active{
                    background: #838080;
                    &::after{
                        content: "Branco";
                        @include style-action(#939393, #939393, #a5a5a5);
                    }
                    transform: translateY(.5rem);
                }
                span{
                    position: relative;
                }
            }
            .orange{
                background: linear-gradient(180deg, $btn-orange, #9d512f);
                @include btn-action(#9d512f);
                
                &::before{
                    content: "";
                    @include style-action(#954522, $btn-orange, #b14f24);
                }
                &:active{
                    background: #9d512f;
                    &::after{
                        content: "Corrige";
                        @include style-action(#954522, #954522, #b14f24)
                    }
                    transform: translateY(.5rem);
                }
                span{
                    position: relative;
                }
            }
            .green{
                background: linear-gradient(180deg, $btn-green, #3e7636);
                @include btn-action(#3e7636);
                
                &::before{
                    content: "";
                    @include style-action(#3c6e35, $btn-green, #43813a);
                }
                &:active{
                    background: #3e7636;
                    &::after{
                        @include style-action(#3c6e35, #3c6e35, #43813a);
                    }
                    transform: translateY(.5rem);
                }
                span{
                    position: relative;
                }
            }
        }
    }
}