.tela{
    background-color: $tela;

    width: 100%;
    max-width: 88rem;
    //height: 55rem;
    height: 44rem;

    padding: 1rem;

    border-radius: .8rem;
    box-shadow: inset -4px -4px 4px #F5F5F5, inset 4px 4px 0px rgba(0, 0, 0, 0.25);

    h1{
        font-size: 5.2rem;
        margin-top: 5.5rem;
        margin-left: 11.3rem;
    }
    .inputs{
        display: flex;
        gap: .5rem;
        
        margin-top: 3.1rem;

        input{
            border: 2px solid black;

            background-color: $tela;

            width: 5.4rem;
            height: 6.9rem;

            font-size: 5rem;

            padding-left: 1rem;
        }
        :not(:last-child){
            margin-left: 8.7rem;
        }
    }
    .valido{
        display: flex;
        justify-content: space-between;

        
        margin-bottom: 1rem;
        
        .block-text{
            width: 60%;

            p{
                text-transform: uppercase;
                font-size: 3.3rem;
            }
            h1{
                text-align: center;
                margin: 2.5rem 0;
            }
            li{
                display: grid;

                grid-template-columns: 30% 1fr;
                align-items: center;
                
                margin-bottom: 1.5rem;

                p{
                    font-size: 2rem;
                    display: inline;
                }
                span{
                    text-transform: uppercase;
                    font-size: 3rem;
                }
                .num{
                    border: 2px solid black;

                    padding: .5rem 1rem;
                    margin-right: 1rem;
                }
            }
        }

        img{
            width: 21.8rem;
            height: 27.2rem;
            
            object-fit: cover;
        }

    }
    .branco{
        h1{
            margin: 20rem 0 0 0;

            text-align: center;
        }
    }
    .nulo{
        span{
            text-transform: uppercase;
            font-size: 3.3rem;
        }
        p{
            font-size: 2rem;

            margin-top: 2rem;

            .num{
                border: 2px solid black;

                padding: .5rem 1rem;
                margin-right: 1rem;
            }
        }

        h3{
            margin-top: 3rem;

            font-size: 2.5rem;
            text-transform: uppercase;
        }
        h2{
            text-align: center;
            font-size: 5.2rem;
        }
    }
    .fim{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        
        h1{
            text-transform: uppercase;
            font-size: 24rem;

            margin: 0;
        }
    }

    footer{
        border-top: .3rem solid black;
        
        font-size: 2rem;

        padding: 2rem;
        
        span{
            display: block;
            
            margin: 0 0 2rem;
        }

        p{
            margin-left: 2rem;
            margin-bottom: 1rem;
        }

    }
}